.Phone img{
    width:60%;
    height:60%;
    }
.Phone{
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center;
}
.clickToAddToCart{
    padding: 2%;
    background-color: white;
    cursor: pointer;
}